<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hznu.lwb.persistence.BlogDao">

  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultType="com.hznu.lwb.model.Blog">
    select 
    *
    from blog
    where blog_id = #{blogId,jdbcType=INTEGER}
  </select>

  <select id="selectByCondition" parameterType="com.hznu.lwb.model.param.BlogParam" resultType="com.hznu.lwb.model.Blog">
    select blog.user_id, user.nickname as userName
    from user left join blog on user.user_id = blog.user_id
    <where>
      1 = 1
      <if test="userId != null">
        and blog.user_id = #{userId}
      </if>
      <if test="title != null">
        and title like concat('%',#{title},'%')
      </if>
      <if test="content != null">
        and content = like concat('%',#{content},'%')
      </if>
    </where>
    order by time desc
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from blog
    where blog_id = #{blogId,jdbcType=INTEGER}
  </delete>

  <insert id="insert" parameterType="com.hznu.lwb.model.Blog">
    insert into blog (content, user_id,
      time, title, type
      )
    values ( #{content,jdbcType=VARCHAR}, #{userId,jdbcType=VARCHAR},
      now(), #{title,jdbcType=VARCHAR}, #{type,jdbcType=VARCHAR}
      )
  </insert>

  <update id="updateByPrimaryKeySelective" parameterType="com.hznu.lwb.model.Blog">
    update blog
    <set>
      <if test="content != null">
        content = #{content,jdbcType=VARCHAR},
      </if>
      <if test="userId != null">
        user_id = #{userId,jdbcType=VARCHAR},
      </if>
      <if test="title != null">
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        type = #{type,jdbcType=VARCHAR},
      </if>
      time = now()
    </set>
    where blog_id = #{blogId,jdbcType=INTEGER}
  </update>

</mapper>