<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hznu.lwb.persistence.BlogDao">

  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultType="com.hznu.lwb.model.Blog">
    select blog.*, user.nickname as user_name, case when cnt is null then 0 else cnt end as praise_count
    from blog left join user on user.user_id = blog.user_id
    left join (select blog.blog_id, count(praise.user_id) cnt
    from blog left join praise on blog.blog_id = praise.blog_id
    group by praise.blog_id) tmp on blog.blog_id = tmp.blog_id
    where blog.blog_id = #{blogId,jdbcType=INTEGER}
  </select>

  <select id="selectByCondition" parameterType="com.hznu.lwb.model.param.BlogParam" resultType="com.hznu.lwb.model.Blog">
    select blog.*, user.nickname as user_name, case when cnt is null then 0 else cnt end as praise_count
    from blog left join user on user.user_id = blog.user_id
    left join (select blog.blog_id, count(praise.user_id) cnt
    from blog left join praise on blog.blog_id = praise.blog_id
    group by praise.blog_id) tmp on blog.blog_id = tmp.blog_id
    <where>
      1 = 1
      <if test="userId != null">
        and blog.user_id = #{userId}
      </if>
      <if test="title != null">
        and title like concat('%',#{title},'%')
      </if>
      <if test="content != null">
        and content like concat('%',#{content},'%')
      </if>
      <if test="type != null">
        and type = #{type}
      </if>
    </where>
    order by time desc
    <if test="offset!=null and size!=null">
      limit #{offset},#{size};
    </if>
  </select>

  <select id="selectMost3Praise" parameterType="string" resultType="com.hznu.lwb.model.Blog">
    select *, case when cnt is null then 0 else cnt end as praise_count
    from (select blog.*, user.nickname as user_name
    from blog left join user on blog.user_id = user.user_id) blog
    left join (select blog.blog_id, count(praise.user_id) cnt
    from blog left join praise on blog.blog_id = praise.blog_id
    group by praise.blog_id) tmp on blog.blog_id = tmp.blog_id
    <where>
      1 = 1
      <if test="_parameter != null">
        and blog.type = #{type}
      </if>
    </where>
    order by praise_count desc
    limit 3
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from blog
    where blog_id = #{blogId,jdbcType=INTEGER}
  </delete>

  <insert id="insert" parameterType="com.hznu.lwb.model.Blog">
    insert into blog (content, user_id,
      time, title, type
      )
    values ( #{content,jdbcType=VARCHAR}, #{userId,jdbcType=VARCHAR},
      now(), #{title,jdbcType=VARCHAR}, #{type,jdbcType=VARCHAR}
      )
  </insert>

  <update id="updateByPrimaryKeySelective" parameterType="com.hznu.lwb.model.Blog">
    update blog
    <set>
      <if test="content != null">
        content = #{content,jdbcType=VARCHAR},
      </if>
      <if test="userId != null">
        user_id = #{userId,jdbcType=VARCHAR},
      </if>
      <if test="title != null">
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        type = #{type,jdbcType=VARCHAR},
      </if>
      time = now()
    </set>
    where blog_id = #{blogId,jdbcType=INTEGER}
  </update>

</mapper>