<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hznu.lwb.persistence.LetterDao">

  <select id="selectRecipientBySender" parameterType="string" resultType="com.hznu.lwb.model.User">
    select recipient_id, nickname
    from letter left join user on user.user_id = letter.recipient_id
    where sender_id = #{senderId,jdbcType=VARCHAR}
    order by time desc
  </select>

  <select id="selectByBoth" parameterType="com.hznu.lwb.model.param.LetterParam" resultType="com.hznu.lwb.model.Letter">
    select
    *
    from letter
    where recipient_id = #{recipientId} and sender_id = #{senderId}
    order by time asc
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from letter
    where letter_id = #{letterId,jdbcType=INTEGER}
  </delete>

  <insert id="insert" parameterType="com.hznu.lwb.model.Letter">
    insert into letter (content, recipient_id,
      sender_id, time)
    values (#{content,jdbcType=VARCHAR}, #{recipientId,jdbcType=VARCHAR},
      #{senderId,jdbcType=VARCHAR}, now())
  </insert>

</mapper>